3. How has the role of the Full Forward changed over time?

In [6]:
# Dependencies
import pandas as pd
import numpy as np

In [7]:
# Data Files
scoring_summary_path = "Resources/Scoring_Summary.csv"

In [8]:
# Read in the Season_Stats file
scoring_summary_complete_df = pd.read_csv(scoring_summary_path)
scoring_summary_complete_df.head()

   Year    GM     G     B    Tot       Ave.    GK%
0    2023    18   449   404    853  47.388889  52.64
1    2022   207  5003  4378   9381  45.318841  53.33
2    2021   207  4778  4346   9124  44.077295  52.37
3    2020   162  2836  2615   5451  33.648148  52.03
4    2019   207  4795  4424   9219  44.536232  52.01

In [9]:
#check datatypes of each column
print(scoring_summary_complete_df.dtypes)

Year        int64
GM          int64
G           int64
B           int64
Tot         int64
Ave.      float64
GK%       float64
dtype: object

In [10]:
# Strip the spaces after the column names
scoring_summary_complete_df.columns = [x.strip() for x in scoring_summary_complete_df.columns]
scoring_summary_complete_df.head()

   Year   GM     G     B   Tot       Ave.    GK%
0  2023   18   449   404   853  47.388889  52.64
1  2022  207  5003  4378  9381  45.318841  53.33
2  2021  207  4778  4346  9124  44.077295  52.37
3  2020  162  2836  2615  5451  33.648148  52.03
4  2019  207  4795  4424  9219  44.536232  52.01

In [11]:
# Reame column headers
scoring_summary_renamed_col = scoring_summary_complete_df.rename(columns={"Year":"Season", "GM":"Games_Played", "G":"Goals", "B":"Behinds", "Tot":"Scoring_Shots", "Ave.":"Scoring_Shots_per_Game", "GK%":"Goal_Kicking_Accuracy"})
scoring_summary_renamed_col.head()

,Season,Games_Played,Goals,Behinds,Scoring_Shots,Scoring_Shots_per_Game,Goal_Kicking_Accuracy
0,2023,18,449,404,853,47.388889,52.64
1,2022,207,5003,4378,9381,45.318841,53.33
2,2021,207,4778,4346,9124,44.077295,52.37
3,2020,162,2836,2615,5451,33.648148,52.03
4,2019,207,4795,4424,9219,44.536232,52.01

In [12]:
# Create DF of just the required columns
goals_df = scoring_summary_renamed_col[["Season","Games_Played","Goals"]]
goals_df.head()

   Season  Games_Played  Goals
0    2023            18    449
1    2022           207   5003
2    2021           207   4778
3    2020           162   2836
4    2019           207   4795

In [14]:
goals_df["Ave_goals"] = goals_df.Goals / goals_df.Games_Played

c:\Users\sabac\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [15]:
goals_df.head()

   Season  Games_Played  Goals  Ave_goals
0    2023            18    449  24.944444
1    2022           207   5003  24.169082
2    2021           207   4778  23.082126
3    2020           162   2836  17.506173
4    2019           207   4795  23.164251

In [16]:
# Bring in the goal kicker csv File
goal_kicker_summary_path = "csv_files/goal_kicker_data.csv"

# Read in the Season_Stats file
goal_kickers_df = pd.read_csv(goal_kicker_summary_path)
goal_kickers_df.head()

   Season      Most Goals GK_Team  Goals_Kicked
0    2023     Nick Larkey      NM            10
1    2022     Tom Hawkins      GE            67
2    2021     Tom Hawkins      GE            62
3    2020     Tom Hawkins      GE            49
4    2019  Jeremy Cameron      GW            76

In [19]:
# Merge the two dataframes
goals_merged_df = pd.merge(goals_df, goal_kickers_df, on='Season')
goals_merged_df.head()

,Season,Games_Played,Goals,Ave_goals,Most Goals,GK_Team,Goals_Kicked
0,2023,18,449,24.944444,Nick Larkey,NM,10
1,2022,207,5003,24.169082,Tom Hawkins,GE,67
2,2021,207,4778,23.082126,Tom Hawkins,GE,62
3,2020,162,2836,17.506173,Tom Hawkins,GE,49
4,2019,207,4795,23.164251,Jeremy Cameron,GW,76

In [18]:
goals_merged_df["%_of_goals"] = (goals_merged_df.Goals_Kicked / goals_merged_df.Goals) * 100
goals_merged_df.head()

,Season,Games_Played,Goals,Ave_goals,Most Goals,GK_Team,Goals_Kicked,%_of_goals
0,2023,18,449,24.944444,Nick Larkey,NM,10,2.227171
1,2022,207,5003,24.169082,Tom Hawkins,GE,67,1.339196
2,2021,207,4778,23.082126,Tom Hawkins,GE,62,1.297614
3,2020,162,2836,17.506173,Tom Hawkins,GE,49,1.727786
4,2019,207,4795,23.164251,Jeremy Cameron,GW,76,1.584984