Q3. How has the role of the Full Forward changed over time?

In [36]:
# Dependencies
import pandas as pd
import numpy as np

In [37]:
# Data Files
scoring_summary_path = "Resources/Scoring_Summary.csv"

In [38]:
# Read in the Season_Stats file
scoring_summary_complete_df = pd.read_csv(scoring_summary_path)
scoring_summary_complete_df.head()

   Year    GM     G     B    Tot       Ave.    GK%
0    2023    18   449   404    853  47.388889  52.64
1    2022   207  5003  4378   9381  45.318841  53.33
2    2021   207  4778  4346   9124  44.077295  52.37
3    2020   162  2836  2615   5451  33.648148  52.03
4    2019   207  4795  4424   9219  44.536232  52.01

In [39]:
#check datatypes of each column
print(scoring_summary_complete_df.dtypes)

Year        int64
GM          int64
G           int64
B           int64
Tot         int64
Ave.      float64
GK%       float64
dtype: object

In [40]:
# Strip the spaces after the column names
scoring_summary_complete_df.columns = [x.strip() for x in scoring_summary_complete_df.columns]
scoring_summary_complete_df.head()

   Year   GM     G     B   Tot       Ave.    GK%
0  2023   18   449   404   853  47.388889  52.64
1  2022  207  5003  4378  9381  45.318841  53.33
2  2021  207  4778  4346  9124  44.077295  52.37
3  2020  162  2836  2615  5451  33.648148  52.03
4  2019  207  4795  4424  9219  44.536232  52.01

In [41]:
# Reame column headers
scoring_summary_renamed_col = scoring_summary_complete_df.rename(columns={"Year":"Season", "GM":"Games_Played", "G":"Goals", "B":"Behinds", "Tot":"Scoring_Shots", "Ave.":"Scoring_Shots_per_Game", "GK%":"Goal_Kicking_Accuracy"})
scoring_summary_renamed_col.head()

,Season,Games_Played,Goals,Behinds,Scoring_Shots,Scoring_Shots_per_Game,Goal_Kicking_Accuracy
0,2023,18,449,404,853,47.388889,52.64
1,2022,207,5003,4378,9381,45.318841,53.33
2,2021,207,4778,4346,9124,44.077295,52.37
3,2020,162,2836,2615,5451,33.648148,52.03
4,2019,207,4795,4424,9219,44.536232,52.01

In [42]:
# Create DF of just the required columns
goals_df = scoring_summary_renamed_col[["Season","Games_Played","Goals"]]
goals_df.head()

   Season  Games_Played  Goals
0    2023            18    449
1    2022           207   5003
2    2021           207   4778
3    2020           162   2836
4    2019           207   4795

In [43]:
goals_df["Ave_goals_per_season"] = goals_df.Goals / goals_df.Games_Played

c:\Users\sabac\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [44]:
goals_df.head()

   Season  Games_Played  Goals  Ave_goals_per_season
0    2023            18    449             24.944444
1    2022           207   5003             24.169082
2    2021           207   4778             23.082126
3    2020           162   2836             17.506173
4    2019           207   4795             23.164251

In [45]:
# Bring in the goal kicker csv File
goal_kicker_summary_path = "created_files/goal_kicker_data.csv"

# Read in the Season_Stats file
goal_kickers_df = pd.read_csv(goal_kicker_summary_path)
goal_kickers_df.head()

   Season      Most Goals GK_Team  Goals_Kicked
0    2023     Nick Larkey      NM            10
1    2022     Tom Hawkins      GE            67
2    2021     Tom Hawkins      GE            62
3    2020     Tom Hawkins      GE            49
4    2019  Jeremy Cameron      GW            76

In [46]:
# Merge the two dataframes
goals_merged_df = pd.merge(goals_df, goal_kickers_df, on='Season')
goals_merged_df.head()

,Season,Games_Played,Goals,Ave_goals_per_season,Most Goals,GK_Team,Goals_Kicked
0,2023,18,449,24.944444,Nick Larkey,NM,10
1,2022,207,5003,24.169082,Tom Hawkins,GE,67
2,2021,207,4778,23.082126,Tom Hawkins,GE,62
3,2020,162,2836,17.506173,Tom Hawkins,GE,49
4,2019,207,4795,23.164251,Jeremy Cameron,GW,76

In [47]:
# Find percentage of goals kicked by leading goalkicker per year
goals_merged_df["Percentage_of_goals"] = (goals_merged_df.Goals_Kicked / goals_merged_df.Goals) * 100
goals_merged_df

,Season,Games_Played,Goals,Ave_goals_per_season,Most Goals,GK_Team,Goals_Kicked,Percentage_of_goals
0,2023,18,449,24.944444,Nick Larkey,NM,10,2.227171
1,2022,207,5003,24.169082,Tom Hawkins,GE,67,1.339196
2,2021,207,4778,23.082126,Tom Hawkins,GE,62,1.297614
3,2020,162,2836,17.506173,Tom Hawkins,GE,49,1.727786
4,2019,207,4795,23.164251,Jeremy Cameron,GW,76,1.584984
5,2018,207,4969,24.004831,Jack Riewoldt,RI,70,1.408734
6,2017,207,5355,25.869565,Lance Franklin,SY,73,1.363212
7,2016,207,5336,25.777778,Josh Kennedy,WC,82,1.536732
8,2015,206,5176,25.126214,Josh Kennedy,WC,80,1.545595
9,2014,207,5208,25.159420,Lance Franklin,SY,79,1.516897
10,2013,207,5561,26.864734,Jarryd Roughead,HW,72,1.294731
11,2012,207,5518,26.657005,Matthew Pavlich,FR,69,1.250453
12,2011,196,5285,26.964286,Lance Franklin,HW,82,1.551561
13,2010,186,4856,26.107527,Barry Hall,WB,80,1.647446
14,2009,185,4913,26.556757,Brendan Fevola,CA,89,1.811520
15,2008,185,5238,28.313514,Lance Franklin,HW,113,2.157312
16,2007,185,5107,27.605405,Jonathan Brown,BL,77,1.507734
17,2006,185,4959,26.805405,Brendan Fevola,CA,84,1.693890
18,2005,185,5118,27.664865,Barry Hall,SY,80,1.563111
19,2004,185,5012,27.091892,Fraser Gehrig,SK,103,2.055068
20,2003,185,5101,27.572973,Matthew Lloyd,ES,93,1.823172
21,2002,185,5121,27.681081,David Neitz,ME,82,1.601250
22,2001,185,5258,28.421622,Matthew Lloyd,ES,105,1.996957
23,2000,185,5626,30.410811,Matthew Lloyd,ES,109,1.937433
24,1999,185,5143,27.800000,Scott Cummings,WC,95,1.847171
25,1998,185,5012,27.091892,Tony Lockett,SY,109,2.174781
26,1997,185,4830,26.108108,Tony Modra,AD,84,1.739130
27,1996,185,5073,27.421622,Tony Lockett,SY,121,2.385176
28,1995,185,5055,27.324324,Gary Ablett,GE,122,2.413452
29,1994,174,4761,27.362069,Gary Ablett,GE,129,2.709515
30,1993,157,4782,30.458599,Tony Modra,AD,129,2.697616
31,1992,172,5180,30.116279,Jason Dunstall,HW,145,2.799228
32,1991,172,5090,29.593023,Tony Lockett,SK,127,2.495088
33,1990,161,4614,28.658385,John Longmire,NM,98,2.123971

In [48]:
#Save csv files
goals_merged_df.to_csv('created_files/Goals_DataFrame.csv', index=False)